body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #fff;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}



/* Cabeçalho */

a {
    text-decoration: none;
    height: auto;
}

header {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    background-color: #fff;
    transition: opacity 0.3s;
}

header.scrolled {
    opacity: 0.92;
}

nav {
    height: auto;
    justify-content: space-between;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

ul {
    width: auto;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 45px;
    padding: 0
}

li {
    display: flex;
    color:#767676;
    font-weight: 450;
    font-size: 19px;
}

#logo {
    width: 150px;
    height: auto;
    margin: 0;
    display: flex;
    align-items: center;
}

#btn-download {
    width: 140px;
    padding: 10px;
    border: none;
    background-color: #04ddb2;
    color: #fff;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 650;
    font-size: 18px;
    height: 45px;
    transition: 400ms ease-out;
    
}

#btn-download:hover{
    transform: scale(1.07);
    transition: 400ms ease-out;
}

.select {
    color: #333;
}

/* Sessão Inicial */

main {
    margin-top: 80px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    gap: 40px;
}

#topo-meio{
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#fim-meio{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

#title {
    color: #333;
    font-size: 65px;
    font-weight: 900;
    margin: 0;
    margin-top: 10px;
}

#p-title {
    text-align: center;
    width: 55%;
    color: #333;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 56px;
}

.color {
    color: #04ddb2;
}

.tumb {
    height: 500px;
    border-radius: 40px;
    transition: 500ms ease-out;
}

.tumb:hover{
    transform: scale(1.04);
    transition: 500ms ease-out;
    box-shadow: 0px 30px 100px rgba(0, 0, 0, 0.329);
}

#title-2{
    width: 60%;
    text-align: center;
    color: #333;
    font-size: 65px;
    font-weight: 900;
    margin: 0;
    margin-top: 10px;
}

hr {
    width: 60%;
    height: 0.1px;
    background-color: #767676;
}

.cursor {
    cursor: pointer;
    transition: 300ms ease-out; 
}

.cursor:hover {
    transition: 300ms ease-out;
    transform: scale(1.1);
}

/* Rodapé*/

footer {
    width: 80%;
    padding: 40px;
}

.rodape {
    display: flex;
    width: 100%;
    align-items: start;
    justify-content: space-around;
}

h4 {
    color: #333;
    margin-top: 0;
}

.licenca {
    font-size: 11px;
}

p {
    color: #767676;
    font-size: 14px;
}

.social {
    display: flex;
    width: auto;
    gap: 15px;
}

.media {
    cursor: pointer;
    height: 30px;
    transition: 500ms ease-out;
}

.media:hover {
    transition: 500ms ease-out;
    transform: scale(1.1);
}


@media only screen and (max-width:950px) {

    ul {
        display: none;
    }

    #logo {
        width: auto;
    }

    #topo-meio{
        width: 90%;
    }

    .tumb {
        height: 300px;
    }

    #title {
        font-size: 60px;
    }

    #fim-meio{
        width: 90%;
    }

    #title-2{
        width: 100%;
    }

    .rodape {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 30px;
    }
}

@media only screen and (max-width:600px){
    .tumb {
        height: 250px;
    }

    #title {
        font-size: 50px;
    }

    #title-2 {
        font-size: 40px;
    }

}

@media only screen and (max-width:500px){
    main{
        padding: 10px;
    }

    #topo-meio{
        width: 90%;
    }

    #title{
        width: auto;
    }

    #title {
        font-size: 40px;
    }

    #p-title {
        width: 80%;
        font-size: 19px;
    }

    .tumb {
        height: 200px;
    }

    #title-2 {
        font-size: 40px;
    }
}


@media only screen and (max-width:400px){
    .tumb {
        height: 150px;
    }
    
    #p-title {
        width: 100%;
    }

    #title {
        font-size: 35px;
    }
}

@media only screen and (max-width:350px){
    #title {
        font-size: 20px;
    }

    #title-2 {
        font-size: 20px;
    }
}